In [62]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

# Load scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

# Set random seed
np.random.seed(0)

In [63]:
%store -r data

In [64]:
#data

In [65]:
data.Activity.unique() #array([1, 2, 3, 4, 5, 6])

array([1, 2, 3, 4, 5, 6])

In [66]:
# New Column 'isTrain' == True for a row if random number generated (between 0 and 1) is less than or equal to .75
# and false otherwise

data['is_train'] = np.random.uniform(0, 1, len(data)) <= .75
data.head()

,A_xacc,A_xacc,A_xacc,A_xgyro,A_ygyro,A_zgyro,A_xmag,A_ymag,A_zmag,Subject,Activity,rowData,Frequence,is_left,is_train
0,-0.39088,-6.9683,6.9030,-0.014133,0.003125,-0.011263,-0.067876,0.79872,-0.21041,1,1,1,1,1,True
1,-0.35910,-7.0292,6.9094,-0.000001,0.004322,-0.004176,-0.067793,0.79870,-0.20877,1,1,2,2,1,True
2,-0.35433,-6.9685,6.8987,0.007218,-0.006623,-0.007716,-0.067630,0.79884,-0.21053,1,1,3,3,1,True
3,-0.36155,-7.0195,6.8994,-0.008128,-0.004702,0.001095,-0.066574,0.79853,-0.20959,1,1,4,4,1,True
4,-0.36405,-6.9903,6.9136,-0.001434,-0.012473,-0.020107,-0.066845,0.79829,-0.20997,1,1,5,5,1,True

In [67]:
# 2 dataFrames: for Training and Testing
train, test = data[data['is_train']==True], data[data['is_train']==False]
print('Number of rows the training set:', len(train))
print('Number of rows in the test set:',len(test))

('Number of rows the training set:', 539612)
('Number of rows in the test set:', 180388)

In [73]:
# list of the feature column's names
features_df = data.drop(["Activity","Subject","rowData","Frequence","is_train"],axis=1)
features = features_df.columns[:]
features

Index([u'A_xacc', u'A_xacc', u'A_xacc', u'A_xgyro', u'A_ygyro', u'A_zgyro',
       u'A_xmag', u'A_ymag', u'A_zmag', u'is_left'],
      dtype='object')

In [85]:
#target
y = pd.factorize(train['Activity'])[0]+1
y

array([1, 1, 1, ..., 6, 6, 6])

In [75]:
# Create random forest Classifier
clf = RandomForestClassifier(n_jobs=2, random_state=0)

# Train the Classifier to take the training features and learn how they relate
# to the training y (activities)
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [76]:
# Apply the Classifier we trained to the test data
clf.predict(test[features])

array([1, 1, 1, ..., 6, 6, 6])

In [77]:
# predicted probabilities of the first 10 rows
clf.predict_proba(test[features])[0:10]

array([[ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.]])

In [78]:
predictions = clf.predict(test[features])
predictions

array([1, 1, 1, ..., 6, 6, 6])

In [79]:
test['Activity'].head()

7     1
8     1
10    1
13    1
17    1
Name: Activity, dtype: int64

In [80]:
# Confusion matrix
pd.crosstab(test['Activity'], predictions, rownames=['Actual Activity'], colnames=['Predicted Activity'])

Predicted Activity      1      2      3      4      5      6
Actual Activity
1                   29823      4     11      6      0      3
2                       2  29993     34    189      0     27
3                       6    132  29958    131      9     39
4                       1    309    181  29659      3     12
5                       0      8     19     49  29624     46
6                       2     84     33     25     35  29931

In [81]:
# List of the features and their importance scores
list(zip(train[features], clf.feature_importances_))

[('A_xacc', 0.073806476484942693),
 ('A_xacc', 0.033174093468189066),
 ('A_xacc', 0.0467514999166148),
 ('A_xacc', 0.060890015848782099),
 ('A_xacc', 0.040514449636562352),
 ('A_xacc', 0.035205901525833957),
 ('A_xacc', 0.044825540548413791),
 ('A_xacc', 0.037965916519439674),
 ('A_xacc', 0.051613266227408028),
 ('A_xgyro', 0.031939292913561901),
 ('A_ygyro', 0.044243275534766882),
 ('A_zgyro', 0.05000084120008319),
 ('A_xmag', 0.20062884459649605),
 ('A_ymag', 0.11392397941461348),
 ('A_zmag', 0.12409720245665687),
 ('is_left', 0.010419403707635153)]

In [82]:
print(classification_report(test['Activity'],predictions))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00     29847
          2       0.98      0.99      0.99     30245
          3       0.99      0.99      0.99     30275
          4       0.99      0.98      0.98     30165
          5       1.00      1.00      1.00     29746
          6       1.00      0.99      0.99     30110

avg / total       0.99      0.99      0.99    180388

In [83]:
%store train
%store test
%store y

Stored 'train' (DataFrame)
Stored 'test' (DataFrame)
Stored 'y' (ndarray)